@model HealthCare.Models.Clientes

@{
    
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body>
    <div class="container text-center">
        <table class="columnasSeparadas" style="margin:0 auto">
            @using (Html.BeginForm())
            {
                <tr>
                    <td><label>Numero Seguridad Social:</label></td>
                    <td><label>Nombre:</label></td>                          
                    <td><label>Apellidos:</label></td>
                </tr>
                <tr>
                    <td>@Html.TextBoxFor(x => x.SS, new { @class = "form-control" })</td>
                    <td>@Html.TextBoxFor(x => x.Nombre, new { @class = "form-control" })</td>
                    <td>@Html.TextBoxFor(x => x.Apellidos, new { @class = "form-control" })</td>
                </tr>               
                <tr>
                    <td><label>Telefono:</label></td>
                    <td><label>Email:</label></td>
                    <td><label>Edad:</label></td>
                </tr>
                <tr>
                    <td>@Html.TextBoxFor(x => x.Telefono, new { @class = "form-control" })</td>
                    <td>@Html.TextBoxFor(x => x.Email, new { @class = "form-control" })</td>
                    <td>@Html.TextBoxFor(x => x.Edad, new { @class = "form-control" })</td>
                </tr>
                <tr>
                    <td style="margin:0 auto" colspan="3"><input class="btn btn-success" type="submit" value="Registrarse" /></td>
                </tr> 
            }
        </table>
    </div>
</body>
