@model HealthCare.Models.Empresas

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/Content/bootstrap-theme.css" />
    <link rel="stylesheet" href="~/Content/bootstrap.css" />
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <title>Bienvenido</title>
</head>
<body>
    <p id="cont">Las solicitudes se refrescarán en 60 segundos</p>
    <fieldset id="solicitudes_pedidas">
        <legend id="legend_Pedidos">Solicitudes Pedidas</legend>
        <div id="pedidos" style='background-color:lightgreen'></div>
    </fieldset>
    <fieldset id="solicitudes_proceso">
        <legend id="legend_Proceso">Solicitudes en Proceso</legend>
        <div id="procesos" style='background-color:yellow'></div>
    </fieldset>
    <fieldset id="solicitudes_terminadas">
        <legend id="legend_Cementerio">Solicitudes Terminadas</legend>
        <div id="cementerio" style='background-color:indianred'></div>
    </fieldset>
    <br />    
    <script>
        var cual;
        rellenarCamposSolicitudes();

        function rellenarCampoPedidos() {
            $.ajax({
                url: "http://localhost:18500/Empresas/obtenerSolicitudes?IDEmpresa=" + @Model.IDEmpresa + "&estado=1"
            }).done((data) => {
                var json = JSON.parse(data);
                if (json.length > 0) {
                    $("#legend_Pedidos").text("Solicitudes Pedidas - " + json.length);
                    json.forEach((el, pos, ar) => {
                        if ($("#campoPedidos" + pos).length == 0) {
                            $("#pedidos").append("<div id='campoPedidos" + pos + "'>");
                            $("#campoPedidos" + pos).append("<fieldset><legend>Cliente " + el.Nombre + " a las " + el.Hora + "</legend>Direccion: " + el.Direccion + "<br/>Telefono: " + el.Telefono + "<br>Productos: " + el.Items + "</fieldset>");
                            $("#campoPedidos" + pos).append("<input type='button' id='btn_si" + pos + "' value='Aceptar'/><input type='button' id='btn_no" + pos + "' value='Rechazar'/>")
                            $("#pedidos").append("</div>");
                            $("#btn_si" + pos).on("click", () => {
                                $.ajax({
                                    url: "http://localhost:18500/Empresas/cambiarEstadoSolicitud?idEmpresa=" + @Model.IDEmpresa + "&idCliente=" + el.IDCliente + "&estado=1"
                                }).done((dat) => {
                                    if (dat == 1) {
                                        alert("La solicitud del cliente " + el.Nombre + " ha sido aceptada, para concetar la hora, llame al numero " + el.Telefono);                                    
                                        $("#pedidos").empty();
                                        rellenarCamposSolicitudes();
                                    } else {
                                        alert("Ha fallado la opcion, porfavor, repita de nuevo");
                                    }                                
                                })
                            })
                        }                                                
                    })
                } else {
                    $("#legend_Pedidos").text("Solicitudes Pedidas");
                }
            })
        }

        function rellenarCampoProceso() {
            $.ajax({
                url: "http://localhost:18500/Empresas/obtenerSolicitudes?IDEmpresa=" + @Model.IDEmpresa + "&estado=2"
            }).done((data) => {
                var json = JSON.parse(data);
                if (json.length > 0) {
                    $("#legend_Proceso").text("Solicitudes en Proceso -- "  + json.length);
                    json.forEach((el, pos, ar) => {
                        if($("#campoProcesos" + pos).length == 0){
                            $("#procesos").append("<div id='campoProcesos" + pos + "'>");
                            $("#campoProcesos" + pos).append("<fieldset><legend>Cliente " + el.Nombre + " a las " + el.Hora + "</legend>Direccion: " + el.Direccion + "<br/>Telefono: " + el.Telefono + "<br>Productos: " + el.Items + "</fieldset>");
                            $("#campoProcesos" + pos).append("<input type='button' id='btn_finalizar" + pos + "' value='Finalizar Pedido'/>")
                            $("#procesos").append("</div>");
                            $("#btn_finalizar" + pos).on("click", () => {
                                $.ajax({
                                    url: "http://localhost:18500/Empresas/cambiarEstadoSolicitud?idEmpresa=" + @Model.IDEmpresa + "&idCliente=" + el.IDCliente + "&estado=2"
                                }).done((dat) => {
                                    if (dat == 1) {
                                        alert("El pedido ha sido Finalizado");
                                        $("#procesos").empty();
                                        rellenarCamposSolicitudes();
                                    } else {
                                        alert("Ha fallado la opcion, porfavor, repita de nuevo");
                                    }
                                })
                            })
                            
                        }
                     })
                } else {
                    $("#legend_Proceso").text("Solicitudes en Proceso");
                }
            })
        }

        function rellenarCampoCementerio() {
            $.ajax({
                url: "http://localhost:18500/Empresas/obtenerSolicitudes?IDEmpresa=" + @Model.IDEmpresa + "&estado=3"
            }).done((data) => {
                var json = JSON.parse(data);
                if (json.length > 0) {
                    $("#legend_Cementerio").text("Solicitudes Terminadas -- " + json.length);
                    json.forEach((el, pos, ar) => {
                        if ($("#campo" + pos).length == 0) {
                            $("#cementerio").append("<fieldset id='campo" + pos + "'><legend>Cliente " + el.Nombre + " a las " + el.Hora + "</legend>Direccion: " + el.Direccion + "<br/>Telefono: " + el.Telefono + "<br>Productos: " + el.Items);
                            $("#cementerio").append("</fieldset>")
                        }                        
                    })
                } else {
                    $("#legend_Cementerio").text("Solicitudes Terminadas");
                }
            })
        }

        function rellenarCamposSolicitudes() {
            rellenarCampoPedidos();
            rellenarCampoProceso();
            rellenarCampoCementerio();
        }

        var cont = 60;
        setInterval(() => {
            cont = cont - 1;
            if (cont == 0) {                
                cont = 60;
                $("#cont").text("Las solicitudes se refrescarán en " + cont + " segundos");
                rellenarCamposSolicitudes();
            } else {
                $("#cont").text("Las solicitudes se refrescarán en " + cont + " segundos");
            }
        }, 1000);

    </script>    
</body>
</html>
