@model HealthCare.Models.Empresas

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body>
    <div class="container text-center">        
        <table class="columnasSeparadas" style="margin:0 auto">
            @using (Html.BeginForm())
            {                
                List<SelectListItem> lista = new List<SelectListItem>(new[] {
                            new SelectListItem { Text = "Bienestar", Value = "Bienestar" },
                            new SelectListItem { Text = "Domestico", Value = "Domestico" },
                            new SelectListItem { Text = "Mascotas", Value = "Mascotas" },
                            new SelectListItem { Text = "Salud", Value = "Salud" }
                });
                               
                <tr>
                    <td><label>Nombre:</label></td>
                    <td><label>Telefono:</label></td>
                    <td><label>Email:</label></td>
                    <td colspan="2"><label>Descripcion:</label><br /><label id="aviso" style="font-size:smaller; color:grey">Quedan 140 caracteres</label></td>
                </tr>
                <tr>
                    <td>@Html.TextBoxFor(x => x.Nombre, new { @class = "form-control" })</td>
                    <td>@Html.TextBoxFor(x => x.Telefono, new { @class = "form-control" })</td>
                    <td>@Html.TextBoxFor(x => x.Email, new { @class = "form-control" })</td>
                    <td colspan="2" rowspan="3" height="100%">@Html.TextAreaFor(x => x.Descripcion, new { @class = "form-control", @rows = "7", @maxlength = "140", @id="texto", @resize="none" })</td>
                </tr>
                <tr>
                    <td><label>Categoria:</label></td>
                    <td></td>
                    <td><label>Subcategoria:</label></td>                    
                </tr>
                <tr>
                    <td>@Html.DropDownListFor(x => x.Categoria, lista, "Elige una categoria", new { @class = "form-control", @id = "categorias" })</td>
                    <td></td>
                    <td>@Html.DropDownListFor(x => x.Subcategoria, Enumerable.Empty<SelectListItem>(), "Elige una subcategoria", new { @class = "form-control", @id = "subcategorias" })</td>
                </tr>                             
                <tr>
                    <td style="margin:0 auto" colspan="3"><input class="btn btn-success" type="submit" value="Registrarse" /></td>
                </tr>                
            }
        </table> 
    </div>          
    <script>
        function cargarSubcategorias(categoria) {
            $("#subcategorias").empty();
            $("#subcategorias").append("<option>Elige una subcategoria</option>");
            $.ajax({
                url: "/Datos/Subcategorias?categoria=" + $("#categorias").val()
            }).done((data) => {
                var json = JSON.parse(data);
                $(json).each((pos, el) => {
                    $("#subcategorias").append("<option value='" + el.Nombre + "'>" + el.Nombre + "</option>");
                });
            });
        };

        $("#categorias").change((ev) => {
            cargarSubcategorias(ev.target.value);
        });
    </script>
</body>
