@using HealthCare.Models

<table>
    <thead>
        <tr>
            <td>Nombre</td>
            <td>Telefono</td>
            <td>Distancia</td>
            <td>Valoracion</td>
        </tr>
    </thead>
    
    @foreach (Empresas empresa in Model)
    {
        if (Model.IndexOf(empresa) % 2 == 0)
        {
            <tr class="par">
                <td>@empresa.Nombre</td>
                <td>@empresa.Telefono</td>
                <td>@ViewBag.distancia</td>
                <td>@empresa.Valoracion</td>
            </tr>
        }
        else
        {
            <tr class="impar">
                <td>@empresa.Nombre</td>
                <td>@empresa.Telefono</td>
                <td>@ViewBag.distancia</td>
                <td>@empresa.Valoracion</td>
            </tr>
        }        
    }
</table>