@using HealthCare.Models
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>HealthCare</title>
    <link rel="stylesheet" href="~/Content/bootstrap-theme.css" />
    <link rel="stylesheet" href="~/Content/bootstrap.css" />
    <link rel="stylesheet" href="~/Content/Layout.css" />
    <script src="~/Scripts/jquery-1.10.2.js"></script>
</head>
<body>
    <header>
        <div class="text-center panel panel-title" id="titulo"><h1 class="h1">HealthCare</h1></div>
    </header>
    <main> 
        <table id="main">
            <tr>
                <td id="menu" valign="top">
                    <table>
                        <thead>
                            @if (Session["zona"] as string == "Zona Clientes")
                            {
                                <tr><th><div class="panel panel-primary"><h3 class="panel-heading panel-title text-center">Zona Clientes</h3></div></th></tr>
                            }

                            @if (Session["zona"] as string == "Zona Empresas")
                            {
                                <tr><th><div class="panel panel-primary"><h3 class="panel-heading panel-title text-center">Zona Empresas</h3></div></th></tr>
                            }

                            @if (Session["zona"] == null)
                            {
                                <tr id="zona_inicial">
                                    <th class="zona">
                                        @using (Html.BeginForm("Login", "Clientes"))
                                        {
                                            <button class="btn btn-block btn-primary">Zona Clientes</button>
                                        }
                                    </th>
                                    <th class="zona">
                                        @using (Html.BeginForm("Login", "Empresas"))
                                        {
                                            <button class="btn btn-block btn-primary">Zona Empresas</button>
                                        }
                                    </th>                                        
                                </tr>
                            }
                        </thead>

                        <tbody>
                            @if (Session["cliente"] != null)
                            {
                                <tr><td>@Html.ActionLink("Categorias", "Categorias", null, new { @class = "btn btn-success btn-block" })</td></tr> 

                                if (Session["categoria"] != null)
                                {
                                    <tr><td>@Html.ActionLink(Session["categoria"].ToString(), "Subcategorias", new { id = Session["categoria"] }, new { @class = "btn btn-success btn-block" }) </td></tr> 
                                }

                                if (Session["subcategoria"] != null)
                                {
                                    <tr><td>@Html.ActionLink(Session["subcategoria"].ToString(), "Empresas", new { id = Session["subcategoria"] }, new { @class = "btn btn-success btn-block" }) </td></tr> 
                                }

                                if (Session["empresa"] != null)
                                {
                                    <tr><td>@Html.ActionLink(Session["empresa"].ToString(), "Items", new { id = Session["empresa"] }, new { @class = "btn btn-success btn-block" }) </td></tr>
                                }
                            }
                            else
                            {
                                if (Session["worker"] != null)
                                {
                                    <tr><td>@Html.ActionLink("Solicitudes en Espera", "SolicitudesEspera", null, new { @class = "btn btn-success btn-block" })</td></tr>
                                    <tr><td>@Html.ActionLink("Solicitudes en Proceso", "SolicitudesProceso", null, new { @class = "btn btn-warning btn-block" })</td></tr>
                                    <tr><td>@Html.ActionLink("Solicitudes Terminadas", "SolicitudesTerminadas", null, new { @class = "btn btn-danger btn-block" })</td></tr>
                                }
                                else
                                {
                                    <tr><td>@Html.ActionLink("Acceso", "Login", null, new { @class = "btn btn-info btn-block" })</td></tr>
                                    <tr><td>@Html.ActionLink("Registro", "Registro", null, new { @class = "btn btn-success btn-block" })</td></tr>
                                    <tr><td>@Html.ActionLink("Recuperar Cuenta", "Recuperar", null, new { @class = "btn btn-success btn-block" })</td></tr>
                                }
                            }                             
                        </tbody>
                        <tfoot>                            
                            @if (Session["cliente"] != null)
                            {
                                <tr><td id="cesta"><a class="btn btn-block btn-warning" href="/Clientes/Cesta"><span class="glyphicon glyphicon-shopping-cart" style="margin-right:10px"></span>Cesta</a></td></tr>
                                <tr><td>@Html.ActionLink("Desconectar", "Login", null, new { @class = "btn btn-danger btn-block", @style = "margin-top:20px" })</td></tr>
                            }
                            else if (Session["worker"] != null)
                            {
                                <tr><td>@Html.ActionLink("Desconectar", "Login", null, new { @class = "btn btn-danger btn-block", @style="margin-top:20px" })</td></tr>
                            }
                        </tfoot>
                    </table>
                </td>
                <td>
                    <div id="contenido">@RenderBody()</div>
                </td>
            </tr>
        </table>
    </main>
    <footer>
        <div><p>ESTO ES EL FOOTER</p></div>
    </footer>

    <script>
        if ($("#zona_inicial").length > 0) {
            $("#menu td").attr("colspan", 2);
        }
    </script>
</body>
</html>
